*.iml
*.class
*svn-base
# Package Files #
*.war
*.ear
lint.xml
bin
*/bin
*/gen
gen
proguard
.svn
*/.apt_generated
.apt_generated
/build
*/build
/.idea
*/.idea
/output
*/output
/.metadata
*/.metadata
/.gradle
*/.gradle
.DS_Store
/.gradle
*/.gradle
local.properties

